<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="O2TI_SigepWebCarrier::sigep"
             title="SigepWeb Carrier"
             translate="title"
             module="O2TI_SigepWebCarrier"
             sortOrder="50"
             parent="Magento_Sales::sales"
             resource="O2TI_SigepWebCarrier::sigep"/>

        <add id="O2TI_SigepWebCarrier::plp_management"
             title="PLP Management"
             translate="title"
             module="O2TI_SigepWebCarrier"
             sortOrder="10"
             parent="O2TI_SigepWebCarrier::sigep"
             action="sigepweb/plp/index"
             resource="O2TI_SigepWebCarrier::plp_management"/>
    </menu>
</config>